/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
  
    background: white;
    width: 700px;
    margin: auto;
}

footer{
    position: fixed;
    left: 0;
    width: 100%;
    background-color: rgb(104, 11, 158);
    color: white;
    text-align: center;
}