/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
  
    background: rgb(242, 209, 245);
    max-width: 500px;
    margin: auto;
}

footer{
    background-color: rgb(136, 76, 175);
    color: white;
    text-align: center;
}